/* HOME */

.additional {
	
	.content {
		
		header {

			margin: $padpx-double 0 $padpx;

			@media only screen 
			and (min-width : 768px) {
				width: 37%;
				float: left;
				box-sizing: border-box;
				padding: $padpx-double $padpx-double $padpx-double 0;
			}

			h2 {
				color:$gray;
			}
		}
		.intro {
			@media only screen 
			and (min-width : 768px) {
				box-sizing: border-box;
				padding: $padpx-double 0 $padpx-double $padpx-double;
				float:right;
				width:63%;
				background: url("../images/border-dots.png") repeat-y -2px center;
			}

			p {
				margin-bottom: .5em;
			}
		}
		

	}

}

.content {
	width: $max-width;
	margin: 0 auto;
	position: relative;
}
.content.apparel {
	height:321px;	
}
.zone1 {
	background: $white-trans;
	padding-bottom: 60px;
}
.fullwidth {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 

	width:100%;
	margin: 0 auto;
	padding:$padpx-triple $padpx;

	background: $green-drk;
	color:$white;
	.content {
		width: 100%;
		margin: 0 auto;

		h3 {
			font-family: $font-tertiary;
			margin-bottom:.75em;
			font-size:1.3em;
		}
		p {
			font-style:italic;
			font-size:1.2em;
		}
	}
}
.galinfo {
	width: 285px;
	background: white;
	float: right;
	margin-top: -30px;
	right: 0;
	padding: 30px 0 20px;
	min-height: 460px;
}
.about .galinfo {
	
}
.galinfo h2{
	color: #5F6062;
	padding: 0 30px 30px;
	background: url('../images/border-dots.png') repeat-x bottom;
	margin-bottom: 30px;
}
.galinfo p {
	padding: 0 30px;
margin-bottom: 10px;
}
.right, .left {
	float: left;
}
.orangebox.right {
	float: right;
}
.orangebox.left .slide-pager {
	right: 0;
}
.orangebox.gallery {
	margin-top: 90px;
}
.left {
	float: left;
}
.floatwrap {
}
.zone1 {
	float: left;
	width: 100%;
	padding-bottom: 60px;
}
.page-template-portfolio-php .zone1 {
	padding-top: 60px;
}
.page-template-portfolio-php .orangebox {
	margin-top: 90px;
}

.vidwrap {
	padding-top: 90px;
}

.splitzone {
	padding-bottom: 60px;
	width: 100%;
	clear: both;
	position: relative;
}

.splitleft {
	height: 100%;
	width: 43%;
	position: absolute;
	background: $green-trans;
}

.splitright {
	height: 100%;
	width: 57%;
	position: absolute;
	right: 0;
	background: $gray-trans url('../images/border-dots.png') repeat-y -2px 0px;
}

.orangebox {
	width: 289px;
	color: #DEDED8;
	z-index: 10;
	position: relative;
	background: url('../images/granville.png') no-repeat bottom left #C7604C;
	min-height:384px;
	z-index: 200;
	float: left;
}
#main .orangebox.ob1 { 	background-position:-300px bottom; }
#main .orangebox.ob2 { 	background-position:-600px bottom; }
#main .orangebox.ob3 { 	background-position:-900px bottom; }
#main .orangebox.ob4 { 	background-position:-1180px bottom; }
.orangebox h2, .orangebox h3 {
	padding: 30px;
	position: relative;
}
.orangebox h2:after, .orangebox h3:after {
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	background: url('../images/main-sprite.png') repeat-x top center;
}
.orangebox h3 {
	font-size: 34px;
}
.orangebox p {
	padding: 30px;
	line-height: 24px;
}
.orangebox > div {
	width: 100%;
}
.vid {
	position: absolute;
	right: 0;
	top: 60px;
	z-index: 1;
}
/* PORTFOLIO */
div.zone1:first-child .slider-wrapper {
	margin-top:0;
}
.port div.zone1:first-child .orangebox {
	margin-top:30px;
}
.gallery:before {
	content: "";
	position:absolute;
	top: 23%;
	height: 77%;
	background: $green-trans;
	width:100%;
}


/* PRODUCTS */
.category-apparel .zone1 {
	padding-top: 45px;
	padding-bottom: 45px;
	overflow: hidden;
	position: relative;
	float:none;
}
.category-apparel .zone1.open {
	height: auto;
}
.category-apparel h3 {
	font-size: 24px;
	display: inline-block;
	padding: 5px;
}
.zone1:nth-child(3n) {
	background: $green-trans;
}
.zone1:nth-child(3n-1) {
	background: $gray-trans;
}
.category-apparel .zone1 h2 {
	color: #CF6139;
	width: 964px;
	margin: 0 auto;
}

.app-wrap a {
	position: relative;
	float: left;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
	outline-style: none;
	outline-width: 0;
 -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.app-wrap {
	position: relative;
}
.app-wrap a:nth-child(4n) {
	margin-right: 0;
}
.category-apparel .zone1 span.view-all {
	position: absolute;
	bottom: -22px;
	right: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #CC6139;
	cursor: pointer;
	z-index: 20;
}
.app-desc {
	background: #5F6062;
	color: #DCDCD6;
	position: absolute;
	bottom: 0;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.app-thumb:hover .app-desc {
	background: #4E917A;
}
.app-thumb {
	img {
		width: auto;
		height: auto;
		max-width: 100%;
	}
}
.app-desc h3 {
	font-size: 14px;
}

.zone0 {
	.float: left;
}
.product {
	width: 40%;
	float: left;
	text-align: center;
}
.product h2 {
	text-align: center;
}
.product img, .apparel img {
	width: auto;
	height: auto;
	max-width: 100%;
}
.product.apparel {
	width: 25%;
	float: left;
}
.productinfo {
	width: 426px;
	background: white;
	padding-top: 25px;
	padding-bottom: 15px;
	margin-top: 60px;
	margin-bottom: 30px;
}
.flipoffset .productinfo {
	margin-top: 30px;
}
.flipoffset .productimg {
	margin-top: 60px;
}
.productinfo h2 {
	color: #5F6062;
	padding: 5px 30px 30px;
	position:relative;
}
.productinfo h2:after {
	background:url('../images/main-sprite.png') repeat-x 2px -6px;
	content: "";
	height: 7px;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
.productinfo .contentp {
	padding: 25px 30px;
}
.productinfo p {
	padding: 5px 0;
}
.rsrcelink {
	display: inline-block;
	width: 20px;
	height: 25px;
	overflow: hidden;
	text-indent: -99em;
	background: transparent url('../images/main-sprite.png') no-repeat -57px -567px;
	float: right;
	margin: 0 30px 20px 0;	
}
.rsrcelink:hover {
	background-position: -57px -591px;
}
.rsrcelink.templates {
	width: 25px;
	background-position: -78px -567px;
	margin-right: 20px;
	height:24px;
}
.rsrcelink.templates:hover {
	background-position: -78px -591px;
}
.rsrcelink.samples {
	width: 29px;
	background-position: -103px -566px;
	margin-right: 19px;
}
.rsrcelink.samples:hover {
	background-position: -103px -591px;
}
.productinfo h4.sizes {
	width:250px;
	float:left;
	padding-right:0;	
}
.rsrcelink.launchcalc, .calcbanner h3 {
	width: 384px;
	height:51px;
	margin:0 auto;
	cursor:pointer;
	background: transparent url('../images/calc-sprite.png') no-repeat 0 -185px;
	display: block;
	float:none;
	clear: both;
	overflow: hidden;
	text-indent: -999em;
}
.calcbanner h3 {
	width: 271px;
	height: 51px;
	position: relative;
	margin: 0;;
}
.calcbanner {
	margin: 0 auto;
	display: block;
	padding-top: 50px;
	padding-bottom: 30px;
	position: relative;
	width: 680px;
}
.calcbanner:before {
	width: 412px;
	height: 51px;
	background: url('../images/calc-sprite.png') no-repeat 0 -287px;
	display: block;
	content: '';
	right: 0;
	bottom: 30px;
	position: absolute;
}
.rsrcelink.launchcalc:hover {
	background-position: 0 -236px;
}
.productinfo h4 {
	padding: 5px 30px;
}
.productinfo img {
	margin: 20px auto;
	display: block;
	cursor: pointer;
}
.productimg {
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
	padding: 30px;
	background: #C5C5BE;
}
.swatches {
	clear: both;
	width: 994px;
	float: left;
	left: -15px;
	position: relative;
	margin-top: 30px;
}
.swatches > h4 {
	padding-left: 15px;
}
.swatchall {
	position: relative;
}
.swatchwrap {
	float: left;
	position: relative;
}
.swatchwrap.active {
	background: #5F6062;
}
.swatch {
	width: 110px;
	height: 110px;
	background-image: url('../images/paperswatch.png');
	float: left;
	border: 1px solid #5F6062;
	margin: 15px;
	cursor: pointer;
}
.apparel .swatch {
	background-image: url('../images/colorswatch.png');
}
.swatchname {
	background: #5F6062;
	color: #DCDCD6;
	padding: 10px 2px;
	text-align: center;
	display: none;
	font-size: 9px;
	text-transform: uppercase;
}

.sfwrap {
	margin: 0 auto;
	width: 743px;
}
.swatchflyout {
	display: none;
	width: 100%;
	background: #5F6062;
	position: absolute;
	z-index: 10;
	float: left;

	&.active {
		display: block;
	}
}
.swatchbig {
	width: 252px;
	height: 252px;
	margin: 30px;
	float: left;
	border: 1px solid white;
	background-image: url('../images/paperswatch.png');
}
.apparel .swatchbig {
	background-image: url('../images/colorswatch.png');
}
.swatchinfo {
	float: left;
	width: 309px;
	height: 194px;
	margin: 30px;
	background: white;
	padding: 30px;
	h3 {
		font-size: 23px;
		padding-bottom: 10px;
	}
	h4 {
		padding-bottom: 8px;
	}
	p {
		line-height: 1.1;
	}
}

/* FAQ and DEFAULT */
.lbox {
	float: left;
	width: 225px;
	overflow: hidden;
}
.pdT {
	padding-top: 60px;
}
.single-col {
	
	margin-top:$padpx-triple;

	h2 {
		margin-bottom:.5em;
		font-family:$font-tertiary;
		color:$green-drk;
		font-size: 1.25em;
	}
}
.faqwrap {
	background: white;
	float: right;
	width: 530px;
	padding: 50px 90px;
	min-height: 345px;

	&.single-col {
		width: 100%;
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box; 
		margin-top:0;
	}

	p {
		margin: 10px 20px;
	}

	h2 {
		font-family: $font-tertiary;
		color: #4E917A;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: .1em;
		margin: 0 0 20px;
		padding: 10px 0 0;
	}
	h3 {
		font-family: $font-tertiary;
		color: #4E917A;
		font-size: 13px;
		font-weight: bold;
		letter-spacing: .1em;
		margin: 0 0 10px;
		padding-top: 10px;
	}
	h4 {
		letter-spacing: .1em;
		color: #5F6062;
		letter-spacing: 1px;
		margin: 0 20px 10px;
		padding-top: 10px;
	}
	ul, ol {
		margin:10px 0 10px 50px;	
	}
	li {
		margin: 5px 0;	
	}
}
.faq {
	.zone1 {
		position: relative;
	}
	.splitzone {
		float: left;
		height: auto;
	}
	.orangebox {
		margin-top: 30px;
		float: none;
		position: absolute;
		left: 0;
	}
}
.jump {
	position: relative;
	display:block;
	top:-30px;	
}
.faqwrapper {
	padding-top: 60px;
}
.single-col h1 {
	font-size:3em;
	color:#DD604C;
}
.hzcolors .faqwrap {
	margin-bottom: 0;
}
.hzcolors .swatch, .hzcolors .swatchbig {
	background-image:none;
}
.hzcolors .swatches {
	margin-bottom: 90px;
}