/* Pricing */
.pricing-page {
	background: $gray-trans-drk;

	.content {
		margin-top:$padpx-triple;
	}	

	.single-col {
		width: 680px;
	    margin: 0 auto;
	    position: relative;
	    padding:0 $padpx;
	    box-sizing: border-box;
	}

}
/* Calculator */

.calculator {
	display: none;
	padding-bottom: 80px;
	width: 100%;
	background-image: url('../images/colorswatch.png');
	background-color: #5F6062;
	float: left;
	position: relative;
}
.calculator.open {
	display: block;
}
#ajaxLoader {
	position: absolute;
	left: 332px;
	top: 97px;
}
.calc {
	width: 680px;
	margin: 0 auto;
	position: relative;
}
.calctabs {
	position: relative;
}
.tab {
	display: inline-block;
	background: #C6C7BD;
	padding: 8px;
	position: relative;
	margin: 0 0 0 9px;
	width: auto;
	float: none;
	cursor: pointer;
	height: 22px;
}
.tab.selected {
	background: white;
	z-index: 10;
}
.tab h3 {
	font-size: 23px;
}
.tableft, .tabright {
	background: url('../images/main-sprite.png') no-repeat -56px -634px;
	height:38px;
	width:9px;
	position:absolute;
	bottom:0px;
}
.tableft {
	left:-9px;
}
.selected .tableft {
	background-position:-74px -634px;
}
.tabright {
	right:-9px;
	background-position:-65px -634px;
}
.selected .tabright {
	background-position:-83px -634px;
}
.xboxwrap {
	position: absolute;
	right: 10px;
	top: 10px;
}
.xbox {

}
.calcbox {
	.height: 300px;
	background: white;
	display: none;
	float: left;
	width: 100%;
}
.selected.calcbox {
	display: block;
}
.progress {
	height: 70px;
	position: relative;
}
.progressbar {
	position: absolute;
	top: 25px;
	left: 30px;
}
.progress1 {
	position: absolute;
	top: 25px;
	left: 55px;
	width: 18px;
	height: 18px;
	background: url('../images/1off.png');
}
.progress1.on {
	background: url('../images/1on.png');
}
.progress2 {
	position: absolute;
	top: 25px;
	left: 331px;
	width: 18px;
	height: 18px;
	background: url('../images/2off.png');
}
.progress2.on {
	background: url('../images/2on.png');
}
.progress3 {
	position: absolute;
	top: 25px;
	right: 55px;
	width: 18px;
	height: 18px;
	background: url('../images/3off.png');
}
.progress3.on {
	background: url('../images/3on.png');
}
.calcboxleft {
	height: 270px;
	margin: 0 0 10px;
	border-right: 2px dotted black;
	width: 35%;
	float: left;
	position: relative;
	
	h4 {
		padding: 20px 20px 5px;
	}
	
	select {
		width: 86%;
		margin: 0 7%;
		font-size: 15px;
	}
}
.calcboxright {
	width: 64%;
	float: left;
	
	h4 {
		padding: 20px 20px 5px;
	}
	
	h4.disabled {
		opacity: .5;
	}
	
	select {
		width: 86%;
		margin: 0 20px;
		font-size: 15px;
	}
	
	label {
		float: left;
		margin-left: 20px;
		margin-top: 8px;
	}
	
	label.disabled {
		opacity: .5;
	}
	
	select.half {
		width: 10%;
		float: left;
		margin: 0 5px;
	}
	
	select.threequart {
		width: 25%;
		float: left;
		margin: 0 20px;
	}
	
	input {
		width: 14%;
		margin-left: 20px;
	}
}
.calculate {
	background: #C6C7BD;
	position: relative;
	float: left;
	width: 100%;

	section {
		margin: 0 $padpx $padpx-double;
		clear:both;
		font-size: .925em;
	}
}

.calculate-button {
	background-image: url('../images/calculate-off.png');
	width: 172px;
	height: 32px;
	border: 0px;
	background-color: transparent;
	background-repeat: no-repeat;
	position: relative;
    float: right;
    margin: 40px 20px 20px;
	
	&.on {
		background-image: url('../images/calculate-on.png');
		cursor: pointer;
	}
	&.send {
		background-image: url('../images/calculate-send.png');
		cursor: pointer;
		float: right;
    	margin: 40px 20px 20px;
    	position: relative;
	}
	&.back {
		background-image: url('../images/calculate-back.png');
		cursor: pointer;
		top: 0px;
		left: 20px;
		position:absolute;
	}
}
.calcboxright .h4.total, .calcboxright .h4.peritem {
	float: none;
}
.get-started {

	h3 {
		font-size: 18px;
		margin-left: 20px;
		letter-spacing: 3px;
		margin-bottom: 5px;
	}
}
.h4, .calcboxright .h4 {
	padding: 8px 20px 8px;
	float: left;
	clear: both;
	display: inline-block;
	color: #4E917A;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}
.p-right .h4 {
	float: none;
}

.calcboxleft p, .calcboxright p {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 45px;
	font-size: 15px;
	clear: both;
}
.calcboxleft .xxl {
	position: absolute;
	margin-bottom: 0;
	bottom: 0;
}
.calcboxleft .p-right, .calcboxright .p-right {
	text-align: right;
	float: right;
	clear: both;
	width: 200px;
}
.calcboxleft .p-right span, .calcboxright .p-right span {
	padding: 0;
}
input[type="text"], input[type="email"] {
	width: 303px;
	margin: 1px 1px 5px;
}
input[type="date"] {
	width: 131px;
}
textarea{
	width: 365px;
	height: 96px;
	margin-left: 20px;
	margin-right: 0px;
}
.calculate p {
	width: 70%;
	margin: 20px;
	font-size: 13px;
	line-height: 1.5;
}
.content.pricing-success {
	text-align: center;
	margin: 50px auto 80px;
}
.content.pricing-success h2 {
	margin: 30px 0;
}
.pricing-link {
	display: block;
	padding: 20px;
	background: #C7604C;
	width: 200px;
	color: white;
	text-transform: uppercase;
	font-size: 26px;
	margin: 30px auto;
	font-family: politicalight, sans-serif;
	letter-spacing: .08em;
}
.pricing-link:hover {
	color: #5F6062;
}