/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors



$green : #76AE99;
$green-drk: #4E917A;
$orange: #DD604C;
$red-lt: #C7604C;

$gray : #5F6062;
$gray-lt : #DCDCD6;
$gray-dark : #58595B;

$green-trans : rgba(118, 174, 153, .10);
$gray-trans : rgba(95, 96, 98, .10);
$white-trans : rgba(255, 255, 255, .25);
$gray-trans-drk : rgba(95, 96, 98, .25);


$drk-brwn : #38332c;
$med-brwn : #7b6e5b;
$med-brwn-lt : #958b79;
$creme : #f9f3e8;
$creme-1 : #f2ebdd;
$creme-2 : #e8e2d4;


$red : #844013;
$gold : #c49f5f;

$white : #fff;
$black : #000;

//old

$blue-grey : #abbac4;
$creme-light : #f5f3e9;
$drk-brwn-2 : #302D2F;

$gray-light-2 : #eee;
$gray-light-3 : #ddd;
$gray-light-4 : #bbb;
$gray-med : #666;

$gray-dark-2 : #131313;

$dim : rgba(0,0,0,0.5);
$dimmer : rgba(0,0,0,0.8);

$error : #f00;
$valid : #089e00;

$brand-facebook: #03539e;
$brand-twitter: #35ccff;
$brand-linkedin: #217bc1;

//Typography
@font-face {
    font-family: 'politicalight';
    src: url('fonts/politicalight-webfont.eot');
    src: url('fonts/politicalight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/politicalight-webfont.woff') format('woff'),
         url('fonts/politicalight-webfont.ttf') format('truetype'),
         url('fonts/politicalight-webfont.svg#politicalight') format('svg');
    font-weight: normal;
    font-style: normal;
}



$font : "adobe-caslon-pro", Georgia, Cambria,'Times New Roman',Times,serif;
$font-secondary : politicalight, Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-tertiary : "open-sans", Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-icons : 'genericons', 'Arial', sans-serif;

$font-size-norm : .875em;
$font-size-slightly-larger : 1.0625em;
$font-size-slightly-smaller : 0.875em;
$font-size-sm : 0.8125em;
$font-size-large : 1.4375em;


//Layout
$max-width: 964px;
$offset-left-1: 4.5rem;

$l-sidebar-width: 19.75rem;

//Defaults
$space : 1rem;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-triple : $space*3;
$space-quad : $space*4;
$space-half : $space/2;
$space-quarter : $space/4;
$pad : 1rem;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

$padpx : 20px;
$padpx-half : $padpx/2;
$padpx-and-half : $padpx*1.5;
$padpx-double : $padpx*2;
$padpx-dub-half : $padpx*2.5;
$padpx-triple : $padpx*3;
$padpx-quad : $padpx*4;
$padpx-quarter :$padpx/4;

$menu-col-left:28%;
$menu-col-gutter:2%;
$menu-col-right:70%;
$out-gutter: 5%;


//Breakpoints
$bp-small : 420px;
$bp-med : 500px;
$bp-large : 575px;
$bp-full : 730px;

//